.side-pane{

    -fx-background-color: #423f36;

}

.btn{

    -fx-background-color: #871725;

}

.skip {
    -fx-background-color : #FFF;
    -fx-text-fill: #724713;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
}


.poppins-button {
    -fx-font-family: 'Poppins';
}
.button:hover
{
    -fx-background-color : #f18800;
    -fx-text-fill: #000000;
}
.button:pressed
{
    -fx-background-color : #ef921a;
    -fx-text-fill: #f18800;
}

.button2
{
    -fx-background-color : #f18800;
    -fx-border-color: #000000;
    -fx-text-fill:  #FFF;
}
.button2:hover
{
    -fx-background-color : #ffffff;
    -fx-text-fill: #000000;
}
.button2:pressed
{
    -fx-background-color : #0C3400 ;
    -fx-text-fill: #FFF;
}

.button3
{
    -fx-background-color : #ffffff;
    -fx-border-color: #f18800;
    -fx-text-fill: #f18800;
}
.button3:hover
{
    -fx-background-color : #f18800;
    -fx-text-fill:   #FFF;
}
.button3:pressed
{
    -fx-background-color : #f8f8f8;
    -fx-text-fill: #000000;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white ;

}
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(  #2D75E8,80%);
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}



.sidebar{
    -fx-background-color:rgb(12,57,255);
}
.sidebar-btn{
    -fx-background-color:transparent;
    -fx-background-radius:00px;
    -fx-text-fill:#FFFFFF;

}
.sidebar-btn:hover{
    -fx-background-color:transparent;
    -fx-background-radius:00px;
    -fx-text-fill:#FFFFFF;
    -fx-border-color:#1EB0C0;
    -fx-border-width:0 px 10px 0px 30px;
}
.sidebar-user-btn{
    -fx-background-color:transparent;
    -fx-background-radius:00px;
    -fx-text-fill:#FFFFFF;

}
.sidebar-btn-icon{
    -fx-fill:#FFFFFF;
}

.menubar-btn {
    -fx-background-color:transparent;
    -fx-background-radius:00px;
    -fx-text-fill:#FFFFFF;
    -fx-border-color:#1EB0C0;
    -fx-border-width:0 px 10px 0px 30px;
}
.menubar-btn:hover{
    -fx-background-color:#99ff;
}
.menubar-btn-icon {
    -fx-fill:#cccccc;
}

.menubar-btn:hover .menubar-btn-icon{
    -fx-background-color:#FFFFFF;
}

.content-bg{
    -fx-background-color:#FFFFFF;
}